body {
	font-family: 'Lato', sans-serif;
	font-size: 24px;
}

footer {
	position: absolute;
	bottom: 0px;
	text-align: center;
	width: 100%;
	color: white;
	background-color: rgba(0,0,0,0.7);
	height: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 30px;
	font-size: 16px;
}

.bmenu {
	margin-top: 50px;
	list-style: none;
}

.bmenu li a{
	display: block;
	    text-shadow: 0px 0px 2px #eeb213;
	    color: #eeb213;
	    padding: 5px 20px;
	    margin: 2px;
	    background: rgba(0,0,0,0.7);
	    letter-spacing: 1px;
	    -webkit-transition: all 0.2s linear;
	    -moz-transition: all 0.2s linear;
	    -o-transition: all 0.2s linear;
	    transition: all 0.2s linear;
	    margin-left: 20%;
	    width: 60%;
	    float: center;
	    font-size: 36px;
}

.bmenu:hover li a{
    text-shadow: 0px 0px 10px #eeb213;
    color: transparent;
    background: rgba(0,0,0,0.2);
}
.bmenu li a:hover{
    background: rgba(0,0,0,1.0);
    text-shadow: 0px 0px 1px #eeb213;
}

h1, h2 {
	font-family: 'Sacramento', cursive;
	font-size: 72px;
	color: #eeb213;
}

h2 { font-size: 48px;}

h3, h4 { color: #eeb213;}

#cover-title { color: white;}

.modal-dialog {
	position: fixed;
	top: 5%;
	left: 5%;
	right: 5%;
}

.modal-content {
	position: relative;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 20px;
	margin-top: 70px;
	margin-bottom: 70px;
	font-size: 24px;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	overflow: scroll;
	font-size: 16px;
}

.modal-content a{
	color: #eeb213;
}

.modal-content a:hover {
	color: white;
}

.horbar {
	float: center;
	/* margin-left: 10%; */
	height: 2px;
	background-color: #eeb213;
}

#social-media {
	font-size: 30px;
}

#social-media a {
	color: white;
	-webkit-transition: color 0.2s ease;
	-o-transition: color 0.2s ease;
	-moz-transition: color 0.2s ease;
	transition: color 0.2s ease;
}

#social-media a:hover {
	color: #eeb213;
}

.research-images {
	position: relative;
	width: 30%;
	float: left;
	margin-right: 30px;
	margin-bottom: 15px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	background-size: cover;
	background-repeat: no-repeat;
	height: 200px;
	font-size: 24px;
}

#meningitis {
	background-image: url("../img/meningitis.jpg");
}

#ai {
	background-image: url("../img/ai.jpg");
}

.inner-research-images {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.4;
	color: rgba(256,256,256,0.7);
	transition: color 0.5s ease, opacity 0.5s ease;
	-webkit-transition: color 0.5s ease, opacity 0.5s ease;
	-o-transition: color 0.5s ease, opacity 0.5s ease;
	-moz-transition: color 0.5s ease, opacity 0.5s ease;
	padding-top: 50px;
}

.inner-research-images:hover {
	color: rgba(256,256,256,1);
	opacity: 0.8;
}

.modal-dialog h3 {
	margin-top: 0px;
}